body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Define a altura total da janela de visualização */
    text-align: center; /* Centraliza o texto dentro do body */
}

h1 {
    margin-top: 20px; /* Adiciona um espaçamento superior */
    color: #a11106;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px; /* Define a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 15px;
    background-color: #fff; /* Cor de fundo do contêiner */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos no formulário */
}

label, input, button {
    margin-bottom: 10px;
}

input[type="text"], input[type="date"], input[type="email"], input[type="tel"], button {
    border-width: 2px; /* Define a largura da borda */
    width: 100%; /* Define a largura dos campos de entrada e do botão */
    padding: 12px; /* Ajusta o espaçamento interno */
    box-sizing: border-box; /* Garante que padding não adicione largura extra */
}

button {
    font-size: 16px; /* Aumenta o tamanho da fonte do botão */
    background-color: #a11106; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove borda */
    cursor: pointer; /* Adiciona cursor de mão ao passar sobre o botão */
}

p {
    color: red; /* Cor das mensagens de erro */
    text-align: center; /* Centraliza o texto das mensagens de erro */
}
